/* Contacto */
#contacto {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px auto;

    h1 {
        width: 100%;
    }

    .mapa,
    .formulario {
        display: inline-block;
        width: 40%; 
    }
    form {
        input, 
        textarea {
            display: block;
            margin: 10px auto ;
            width: 350px;
        }

        input[type="submit"] {
            width: 150px;
            padding: 10px 30px;
            background-color: black;
            color: white;
            border-radius: 5px;
            border: 2px white solid;
            cursor: pointer;
        }
    }
}